@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  background-color: #fdfdfd;
}

.tab-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data-table {
  background-color: #e9eaec2b;
  box-shadow: 2px 5px 16px 0px #aba1a1e0;
  width: 94vw;
  min-width: 1200px;
}

.header-class {
  background-color: #1ba9d0a6;
}
.table thead th {
  border: 1px double #3e4575;
  font-weight: 500;
  box-shadow: 0px 2px 0px 0px #5d5959;
  padding: 6px;
}
.table td {
  vertical-align: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
}

.active {
  background-color: #fdfdfd;
}

.nav-link,
.nav-link:hover {
  color: #161617;
}
.nav-tabs .nav-link.active {
  font-size: 1.05rem;
}
/* should probably just not use bootstrap buttons at this point lol */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  width: 125px;
  color: #000;
  background-color: #ffee7d !important;
  border-color: #edae49 !important;
  box-shadow: 2px 2px 1px 1px #d6bc3dde;
}
.show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: #ffee7d;
  border-color: #edae49;
}
.btn-success,
.btn-success:hover {
  width: 125px;
  color: #000;
  background-color: #51e25aa3;
  border-color: #42c325f7;
  font-size: 18px;
  box-shadow: 2px 2px 1px 1px #32791b61;
}
.no-sessions {
  height: 100%;
  text-align: center;
  vertical-align: top;
  line-height: 250px;
}

@-webkit-keyframes blinky {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: #e0424d;
  }
}
@-moz-keyframes blinky {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: #e0424d;
  }
}
@keyframes blinky {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: #e0424d;
  }
}
.countdown {
  text-align: center;
  margin: 2rem;
  line-height: 60px;
  text-shadow: 0 1px 0 #bdbdbd;
}

#times-up {
  -webkit-animation: blinky 0.9s infinite;
  -moz-animation: blinky 0.9s infinite;
  animation: blinky 0.9s infinite;
}

.cards-wrapper {
  box-shadow: 4px 4px 20px #ece1e1;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.info-card {
  box-shadow: 1px 1px 1px;
  background-color: #fdfdfd;
}

textarea {
  background-color: #d5ebf15e;
  box-shadow: inset 1px 2px 1px 0px #989494;
  padding: 6px 10px;
  width: 100%;
  min-height: 110px;
}

iframe {
  box-shadow: 1px 1px 15px 0px #8e8383;
  border: 1px solid black;
  width: 60vw;
  display: flex;
  height: 1200px;
  margin: 50px auto;
}

.card-body .btn {
  margin-left: 0px;
}

.table-btn {
  text-align: center;
  max-width: 50px;
}

/* .editing-cell {
  
} */
