doctype html
html(lang="en")
  head
    title="whatever"
  body
p Hi Everyone!
|
p   I hope you've all had a great week! Feel free to use the link below to schedule another tutoring session if you wish. If you are already scheduled for the upcoming week, you don't have to do anything else!
|
p   <a href="https://calendly.com/mkdoherty3/tutoring/01-27-2019">Click here to schedule your session</a>
|
p   On the Calendly page, be sure you have the correct time zone selected in the section labeled "Times are in" 

p If our availability doesn’t sync, let me know and I'll see if we can figure something out.
|
|
p 
strong  Maximum tutorial sessions per week - our week is Monday - Sunday.

p <strong>Part-time</strong> (6 month boot camp) students are entitled to 1 session per week.

p <strong>Full-time</strong> (3 month boot camp) students are entitled to 2 sessions per week. 
|
|
p If you have any questions or none of the times available work for you please let me know and I would be happy to help.
|
p If you would like to schedule regular, recurring sessions at the same day/time each week, just let me know by REPLY ALL and we can work it out.  This is particularly useful if you have a strict schedule so you won't have to compete for time on my calendar.
|
p CC Central Support on all email by always using REPLY ALL.
|
|
p Sincerely,

p   Michael Doherty

