doctype html
html(lang="en")
  head
    title="reminder"
  body
  p Congrats #{firstName}!! 🎉🙌
  |
  |
  div
    p You did it! Your hard work has paid off! You made it to graduation day! 
    |
    p Just a quick reminder - tutoring services end on graduation day. Any sessions scheduled beyond today will have to be canceled 😕
    |
    p This doesn't have to be goodbye though! 
    |
    p Feel free to add me on <a href=www.linkedin.com/in/michaeldoh>Linkedin</a>
    p I'd be happy to share endorsements & recommendations as well as help in any way I can as you venture out into the development world!
    |
    p CONGRATS!!
    |
  p Sincerely,

  p    Michael Doherty
